.track {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}

.slide {
    display: flex;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}